name: test
on: push

jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - name: build and test
        run: |
          rsync -av ./ /root/ros2_ws/src/workpkg/
          cd /root/ros2_ws
          source /root/ros2_ws/install/setup.bash || true
          bash -xv ./src/workpkg/test/test.bash /root

